<div class="courses-container">
  <app-section-top [title]="admin ? 'Manage courses' : 'Courses'"
                   [admin]="admin" [connectionSucceed]="connectionSucceed"
                   (setAdminEvent)="setAdmin($event)"
                   (createNewEvent)="createCourse($event)"></app-section-top>
  <app-filters-course [teachersRequest]="teachersRequest"
                      [initialSearchFilter]="searchFilter"
                      [initialTeacherIdFilter]="teacherIdFilter"
                      [initialLevelFilter]="levelFilter"
                      (setFiltersReadyEvent)="setFiltersReady($event)"
                      (setSearchFilterEvent)="setSearchFilter($event)"
                      (setLevelFilterEvent)="setLevelFilter($event)"
                      (setTeacherIdFilterEvent)="setTeacherIdFilter($event)"></app-filters-course>
  <div class="bar-placeholder">
    <mat-progress-bar class="bar" mode="indeterminate" *ngIf="queries > 0"></mat-progress-bar>
  </div>
  <h2 class="message" *ngIf="emptyResult">No courses found</h2>
  <h2 class="message" *ngIf="connectionFailed">
    Connection failed - The courses could not be loaded
  </h2>
  <app-card-grid class="card-grid" *ngIf="courses.length > 0">
    <app-card class="card" [class.hover-effect]="!admin" *ngFor="let course of courses"
              [admin]="admin" [activable]="true" [active]="course.active"
              [imageTextTop]="course.hours + 'h'" [imageTextBottom]="getLevelText(course)"
              [imageLink]="getImageUrl(course)" (setActiveEvent)="setCourseActive(course, $event)"
              (removeEvent)="removeCourse(course)">
      <app-card-detail-course [course]="course"></app-card-detail-course>
    </app-card>
  </app-card-grid>
</div>
