<div class="dialog-new-teacher">
  <h1 class="title">Register teacher</h1>
  <form [formGroup]="formControl" (ngSubmit)="createTeacher()">
    <mat-form-field class="field" appearance="outline">
      <mat-label class="field-label">Name</mat-label>
      <input matInput class="input" formControlName="name"
             placeholder="Introduce the name" maxlength="20" autocomplete="off">
      <mat-hint align="end">{{formControl.get('name').value.length}} / 20</mat-hint>
      <mat-error *ngIf="formControl.get('name').hasError('required')">
        Name <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="!formControl.get('name').hasError('required')
                        && formControl.get('name').hasError('minlength')">
        Must have at least <strong>6 characters</strong>
      </mat-error>
      <mat-error *ngIf="!formControl.get('name').hasError('required')
                        && !formControl.get('name').hasError('minlength')">
        Spaces are only valid as separators
      </mat-error>
    </mat-form-field>
    <div class="bottom">
      <button class="create">Register</button>
    </div>
  </form>
</div>
