.card-detail-teacher {
  padding: 10px 15px;

  .name {
    margin: 5px 0 3px 0;
    font-size: 18px;
    color: rgb(30, 30, 30);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .course-number {
    margin: 10px 0 5px 0;
    font-size: 14px;
    color: rgb(120, 120, 120);
  }

  .remove {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 0 0 4px 4px;
    background-color: #ff5757;
    font-size: 16px;
    color: white;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }

  .remove:hover {
    color: rgb(30, 30, 30);
  }
}
